<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RoleMapper" >
  <resultMap id="BaseResultMap" type="java.util.Map" >
  	<id column="ID" property="id" jdbcType="VARCHAR"/><!-- 默认主键类型是varchar 根据需要更改-->
  	<result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR"/>
	<result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR"/>
	<result column="UPDATE_TIME" property="updateTime" jdbcType="DATE"/>
	<result column="CREATE_TIME" property="createTime" jdbcType="DATE"/>
	<result column="DELETE_FLAG" property="deleteFlag" jdbcType="DECIMAL"/>
	
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="roleCode != null" >
		 AND ROLE_CODE = #{roleCode}
	 </if>
	<if test="roleName != null" >
		 AND ROLE_NAME = #{roleName}
	 </if>
	<if test="id != null" >
		 AND ID = #{id}
	 </if>
	<if test="updateTime != null and updateTime != ''" >
		 AND UPDATE_TIME = #{updateTime}
	 </if>
	<if test="createTime != null and createTime != ''" >
		 AND CREATE_TIME = #{createTime}
	 </if>
	<if test="deleteFlag != null" >
		 AND DELETE_FLAG = #{deleteFlag}
	 </if>
	     
    </trim>
  </sql>
  <sql id="Base_Column_List" >
  	ROLE_CODE,ROLE_NAME,ID,UPDATE_TIME,CREATE_TIME,DELETE_FLAG
  </sql>
  <!-- 根据主键查询角色信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_S_ROLE
    where ID = #{id,jdbcType=VARCHAR}<!-- 默认主键类型是varchar 根据需要更改-->
  </select>
  
  <!-- 根据code查询角色信息 -->
  <select id="selectRoleByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_S_ROLE
    where ROLE_CODE = #{roleCode,jdbcType=VARCHAR}<!-- 默认主键类型是varchar 根据需要更改-->
  </select>
  
  <!-- 查询角色信息列表 -->
  <select id="selectRoleInfoList" parameterType="java.util.Map" resultMap="BaseResultMap">
    <include refid="common.Oracle_Pagination_Head" />
    select 
    <include refid="Base_Column_List" />
    from T_S_ROLE where DELETE_FLAG=0 
         <if test="roleName != null and roleName != ''" >
        AND ROLE_NAME like '%'||#{roleName}||'%' 
     </if>
　　　　<if test="beginTime != null and  beginTime != ''">
            <![CDATA[ AND CREATE_TIME >= to_date(#{beginTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
      </if>
      <if test="endTime != null and  endTime != ''">
            <![CDATA[ AND CREATE_TIME <= to_date(#{endTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
      </if>
	 <include refid="common.Oracle_Pagination_Tail" />
  </select>
    <!-- 查询角色列表信息-总数 -->
 <select id="selectRoleCount" parameterType="java.util.Map" resultType="java.lang.Integer">
	  select 
      count(0) 
      from T_S_ROLE where DELETE_FLAG=0   
     <if test="roleName != null and roleName != ''" >
        AND ROLE_NAME like '%'||#{roleName}||'%'   
     </if>
　　　　<if test="beginTime != null and  beginTime != ''">
            <![CDATA[ AND CREATE_TIME >= to_date(#{beginTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
      </if>
      <if test="endTime != null and  endTime != ''">
            <![CDATA[ AND CREATE_TIME <= to_date(#{endTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
      </if>
  </select>
  
  <!-- 插入角色信息 -->
  <insert id="insertRoleInfo" parameterType="java.util.Map" >
    insert into T_S_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
       ID,
      <if test="roleCode != null"> ROLE_CODE, </if>
	<if test="roleName != null"> ROLE_NAME, </if>
	<if test="updateTime != null"> UPDATE_TIME, </if>
	<if test="createTime != null"> CREATE_TIME, </if>
	<if test="deleteFlag != null"> DELETE_FLAG, </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id},
     <if test="roleCode != null"> #{roleCode}, </if>
	<if test="roleName != null"> #{roleName}, </if>
	<if test="updateTime != null"> #{updateTime}, </if>
	<if test="createTime != null"> #{createTime}, </if>
	<if test="deleteFlag != null"> #{deleteFlag}, </if>
    </trim>
  </insert>
  <!-- 根据主键编辑角色信息 -->
  <update id="updateRoleInfoById" parameterType="java.util.Map" >
    update T_S_ROLE
     <set >
      <if test="roleCode != null and roleCode!=''">ROLE_CODE = #{roleCode}, </if>
	<if test="roleName != null and roleName!=''">ROLE_NAME = #{roleName}, </if>
	<if test="updateTime != null and updateTime!=''">UPDATE_TIME = #{updateTime}, </if>
	<if test="deleteFlag != null and deleteFlag!=''">DELETE_FLAG = #{deleteFlag}, </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 逻辑删除角色信息 -->
  <update id="delRoleLogic" parameterType="java.util.Map" >
    update T_S_ROLE
    set DELETE_FLAG = -1
    where ID = #{id,jdbcType=VARCHAR}
  </update>
    <!-- 根据机构ID查询机构下所有的用户信息，管理用户使用 -->
  <select id="selectUserByDepartId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <include refid="common.Oracle_Pagination_Head" />
    select u.id as "userId",
           u.username as "userName",
           p.real_name as "realName" 
    from T_S_USER u 
	left join T_S_DEPART_USER du on du.user_id=u.id 
	left join T_S_DEPART de on de.id=du.depart_id 
	left join T_S_User_Property p on p.id=u.id 
	where u.STATUS=1 and u.DELETE_FLAG=0 and de.id=#{departId,jdbcType=VARCHAR}
	<include refid="common.Oracle_Pagination_Tail" />
  </select>
      <!-- 根据机构ID查询机构下所有的用户信息，管理用户使用 -->
  <select id="selectUserByDepartIdCount" parameterType="java.util.Map" resultType="java.lang.Integer">    
    select count(0) 
    from T_S_USER u 
	left join T_S_DEPART_USER du on du.user_id=u.id 
	left join T_S_DEPART de on de.id=du.depart_id 
	left join T_S_User_Property p on p.id=u.id 
	where u.STATUS=1 and u.DELETE_FLAG=0 and de.id=#{departId,jdbcType=VARCHAR}
  </select> 
  <!-- 向角色用户关联表插入信息 -->
  <insert id="insertRoleUserInfo" parameterType="java.util.List">
    insert into T_S_USER_ROLE (ROLE_ID,USER_ID)
     <foreach collection="list" item="item" index="index" separator="union all" > 
      (select  
        #{item.roleId,jdbcType=VARCHAR},#{item.userId,jdbcType=VARCHAR} 
       from dual)
    </foreach>
  </insert>
  
  <!-- 根据角色主键删除角色用户关联信息-->
  <delete id="deletetRUById" parameterType="java.lang.String" >
    delete from T_S_USER_ROLE 
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </delete>
  
    <!-- 根据角色主键查询角色用户关联信息 -->
  <select id="selectRUById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    R.USER_ID as "userId",  
    u.username as "userName"
    from T_S_USER_ROLE R 
    Left join T_S_USER u on u.id=R.User_Id 
    where u.status=1 and u.delete_flag=0 
    and ROLE_ID = #{id,jdbcType=VARCHAR}
  </select>
  
    <!-- 向角色权限关联表插入信息 -->
  <insert id="insertRolePrivInfo" parameterType="java.util.List">
    insert into T_S_ROLE_PRIV (ROLE_ID,PRIV_ID,TYPE)
    <foreach collection="list" item="item" index="index" separator="union all" > 
      (select  
        #{item.roleId,jdbcType=VARCHAR},#{item.privId,jdbcType=VARCHAR},#{item.type,jdbcType=VARCHAR}  
       from dual)
    </foreach>
  </insert>
  
  
    <!-- 根据角色主键删除角色权限关联信息-->
  <delete id="deletetRPById" parameterType="java.lang.String" >
    delete from T_S_ROLE_PRIV 
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </delete>
  
  <!-- 根据用户ID,查询角色ID集合 -->
  <select id="queryRolesByUserId" resultType="java.util.Map" parameterType="java.util.Map" >
    select 
    r.ID as "roleId",
    r.role_name as "roleName"
    from T_S_USER u
    inner join T_S_USER_ROLE ur on u.ID = ur.USER_ID
    inner join T_S_ROLE r on r.ID = ur.ROLE_ID
    where u.status=1 and u.delete_flag=0 and r.delete_flag=0
    and u.ID = #{userId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectRoleIdByRoleCode" resultType="java.util.Map" parameterType="java.lang.String">
  	select id as roleId from T_S_ROLE where 
  	<if test="roleCode != null and roleCode!=''">ROLE_CODE = #{roleCode,jdbcType=VARCHAR} </if>
  	and delete_flag=0  
  </select>
  
  <!-- 查询所有角色信息 -->
  <select id="selectAllRoles" parameterType="java.util.Map" resultType="java.util.Map">
    select 
    ID as "roleId",
    ROLE_NAME as "roleName"
    from T_S_ROLE where DELETE_FLAG=0 
  </select>
  
</mapper>