<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="NavigatorMapper" >
  
	  <resultMap id="BaseResultMap" type="java.util.Map" >
	  	<id column="NAV_ID" property="navId" jdbcType="VARCHAR"/>
	  	<result column="ICON_PATH" property="iconPath" jdbcType="VARCHAR"/>
		<result column="NAME" property="name" jdbcType="VARCHAR"/>
		<result column="CREATE_TIME" property="createTime" jdbcType="DATE"/>
		<result column="CREATE_USER" property="createUser" jdbcType="VARCHAR"/>
		<result column="URL" property="url" jdbcType="VARCHAR"/>
		<result column="SORT" property="sort" jdbcType="INTEGER"/>
		<result column="DELETE_FLAG" property="deleteFlag" jdbcType="INTEGER"/>
	  </resultMap>
	  
	  <sql id="Example_Where_Clause" >
	    <trim prefix="where" prefixOverrides="and|or" >
	      <if test="iconPath != null" >
			 AND ICON_PATH = #{iconPath}
		 </if>
		<if test="name != null" >
			 AND NAME = #{name}
		 </if>
		<if test="navId != null" >
			 AND NAV_ID = #{navId}
		 </if>
		<if test="createTime != null and createTime !=''" >
			 AND CREATE_TIME = to_date('${createTime}','yyyy-mm-dd hh24:mi:ss')
		 </if>
		<if test="createUser != null" >
			 AND CREATE_USER = #{createUser}
		 </if>
		<if test="url != null" >
			 AND URL = #{url}
		 </if>
		<if test="sort != null" >
			 AND SORT = #{sort}
		 </if>
		<if test="deleteFlag != null" >
			 AND DELETE_FLAG = #{deleteFlag}
		 </if>
		     
	    </trim>
	  </sql>
	  
	  
	  <sql id="Base_Column_List" >
	  	ICON_PATH,NAME,NAV_ID,CREATE_TIME,CREATE_USER,URL,SORT,DELETE_FLAG
	  </sql>
	  
	  
	  <!-- 分页查询导航菜单管理 -->
	  <select id="getList" resultMap="BaseResultMap" >
	  	<include refid="common.Oracle_Pagination_Head" />
		    select 
		    <include refid="Base_Column_List" />
		    from T_WW_NAVIGATOR
		<if test="_parameter != null" >
	     	<include refid="Example_Where_Clause" />
	   	</if>
	     	order by SORT asc
	    <include refid="common.Oracle_Pagination_Tail" />
	  </select>
	  
	  
	  <!-- 根据Id查询导航菜单管理 -->
	  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="Base_Column_List" />
	    from T_WW_NAVIGATOR
	    where NAV_ID = #{navId,jdbcType=VARCHAR}
	  </select>
	  
	  
	  <!-- 查询导航菜单管理总数量 -->
	  <select id="countAll" resultType="java.lang.Integer" >
		    select count(1)
		    from T_WW_NAVIGATOR
		    <!-- 有DELETE_FLAG放开-->
		   <!-- where DELETE_FLAG = 0 -->
	  </select>
	  
	  
	  <!-- 查询所有导航菜单管理 -->
	  <select id="getAll" resultMap="BaseResultMap">
	    select 
	     <if test="distinct" >
	      distinct
	    </if>
	    <include refid="Base_Column_List" />
	    from T_WW_NAVIGATOR 
	   <if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
	    <if test="orderByClause != null" >
	      order by ${orderByClause}
	    </if>
	  </select>
	  
	  
	  <!-- 根据导航菜单管理编码,查询导航菜单管理信息 有code验证时放开-->
	   <!-- <select id="getByCode" resultMap="BaseResultMap" parameterType="java.util.Map" >
	    select 
	    <include refid="Base_Column_List" />
	    from T_WW_NAVIGATOR
	    where  = #{,jdbcType=}
	    AND DELETE_FLAG = 0 
	    <if test="navId != null" >
	    	and NAV_ID != #{navId,jdbcType=VARCHAR}
	    </if>
	  </select> -->
	  
	  
	  <!-- 增加导航菜单管理 -->
	  <insert id="insert" parameterType="java.util.Map" >
	    insert into T_WW_NAVIGATOR
	    <selectKey resultType="java.lang.String" keyProperty="navId"
				order="BEFORE">
				select sys_guid() from dual
		</selectKey>
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	       NAV_ID,
	      <if test="iconPath != null"> ICON_PATH, </if>
		<if test="name != null"> NAME, </if>
		<if test="createTime != null and createTime !=''"> CREATE_TIME, </if>
		<if test="createUser != null"> CREATE_USER, </if>
		<if test="url != null"> URL, </if>
		<if test="sort != null"> SORT, </if>
		<if test="deleteFlag != null"> DELETE_FLAG, </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      #{navId},
	     <if test="iconPath != null"> #{iconPath}, </if>
		<if test="name != null"> #{name}, </if>
		<if test="createTime != null and createTime !=''"> #{createTime}, </if>
		<if test="createUser != null"> #{createUser}, </if>
		<if test="url != null"> #{url}, </if>
		<if test="sort != null"> #{sort}, </if>
		<if test="deleteFlag != null"> #{deleteFlag}, </if>
	    </trim>
	  </insert>
	  
	  
	  <!-- 更新导航菜单管理 -->
	  <update id="update" parameterType="java.util.Map" >
	    update T_WW_NAVIGATOR
	     <set >
	      <if test="iconPath != null">ICON_PATH = #{iconPath}, </if>
		<if test="name != null">NAME = #{name}, </if>
		<if test="createTime != null and createTime !=''">CREATE_TIME = #{createTime}, </if>
		<if test="createUser != null">CREATE_USER = #{createUser}, </if>
		<if test="url != null">URL = #{url}, </if>
		<if test="sort != null">SORT = #{sort}, </if>
		<if test="deleteFlag != null">DELETE_FLAG = #{deleteFlag}, </if>
	    </set>
	    where NAV_ID = #{navId,jdbcType=VARCHAR}
	  </update>
	  
	  
	  <delete id="delete" parameterType="java.lang.String" >
	    delete from T_WW_NAVIGATOR
	    where NAV_ID = #{navId,jdbcType=VARCHAR}
	  </delete>
	  
	  
	  <!-- 逻辑删除导航菜单管理 -->
	  <update id="logicDelete" parameterType="java.util.Map" >
	    update T_WW_NAVIGATOR
	    set DELETE_FLAG = -1
	    where NAV_ID = #{navId,jdbcType=VARCHAR}
	  </update>
  
</mapper>