<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	 <bean class="com.lfc.wxadmincore.common.utils.PropertyConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/jdbc.properties</value>
			</list>
		</property>
		
	</bean> 

	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">  
		<property name="name" value="usercore"/>
		<property name="url" value="${jdbcUrl}" />  
		<property name="username" value="${username}" />  
		<property name="password" value="${password}" />  
		<property name="filters" value="stat" />  
		<property name="maxActive" value="50" />   
		<property name="initialSize" value="1" />  
		<property name="maxWait" value="60000" />  
		<property name="minIdle" value="1" />  
		<property name="timeBetweenEvictionRunsMillis" value="3000" />  
		<property name="minEvictableIdleTimeMillis" value="300000" />  
		<property name="validationQuery" value="SELECT 'x' FROM DUAL" />  
		<property name="testWhileIdle" value="true" />  
		<property name="testOnBorrow" value="false" />  
		<property name="testOnReturn" value="false" />  
		<property name="poolPreparedStatements" value="true" />  
		<property name="maxPoolPreparedStatementPerConnectionSize" value="50" />  
	</bean>
	<!-- SqlSession的工厂类 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mappings/mybatis-config.xml"></property>
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- SqlSession -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
	<bean class="com.lfc.wxadmincore.common.utils.SpringContextHolder" lazy-init="false" />
	
	<!-- 全局单例类 -->
	<bean id="config" name="config" class="com.github.sd4324530.fastweixin.api.config.ApiConfig" >
	  <constructor-arg index="0" value="wx29db25096fe239a6" />
	  <constructor-arg index="1" value="f7bbe7ce011758fcaf7e018dd38a7f51" />
	</bean>
</beans>