<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MerchantMapper" >
  <resultMap id="BaseResultMap" type="java.util.Map" >
  	<id column="MERCHANT_ID" property="merchantId" jdbcType="VARCHAR"/>
  	<result column="DELETE_FLAG" property="deleteFlag" jdbcType="INTEGER"/>
	<result column="CREATE_USER" property="createUser" jdbcType="VARCHAR"/>
	<result column="CREATE_TIME" property="createTime" jdbcType="DATE"/>
	<result column="TACTOR_PHONE" property="tactorPhone" jdbcType="VARCHAR"/>
	<result column="COMMENTS" property="comments" jdbcType="VARCHAR"/>
	<result column="SHORT_NAME" property="shortName" jdbcType="VARCHAR"/>
	<result column="NAME" property="name" jdbcType="VARCHAR"/>
	<result column="IMAGE_PATH" property="imagePath" jdbcType="VARCHAR"/>
	<result column="SUPPORTED_CARDS" property="supportedCards" jdbcType="VARCHAR"/>
	<result column="CODE" property="code" jdbcType="VARCHAR"/>
	<result column="LATITUDE" property="latitude" jdbcType="NUMERIC"/>
	<result column="LONGITUDE" property="longitude" jdbcType="NUMERIC"/>
	<result column="ACTIVITY_NAME" property="activityName" jdbcType="VARCHAR"/>
	<result column="START_DATE" property="startDate" jdbcType="DATE"/>
	<result column="END_DATE" property="endDate" jdbcType="DATE"/>
	
	<result column="BANNER_IMG" property="bannerImg" jdbcType="VARCHAR"/>
	<result column="IS_HOT" property="isHot" jdbcType="VARCHAR"/>
	
	<result column="ACTIVITY_CONTENT" property="activityContent" jdbcType="VARCHAR"/>
	<result column="OPEN_ID" property="openId" jdbcType="VARCHAR"/>
	
	<result column="TOWN_CODE" property="twonCode" jdbcType="VARCHAR"/>
	<result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR"/>
	<result column="DISACCOUNT" property="disaccount" jdbcType="VARCHAR"/>
	<result column="ID" property="id" jdbcType="VARCHAR"/>
	
  </resultMap>
  <sql id="Base_Column_List" >
  	DELETE_FLAG,CREATE_USER,CREATE_TIME,TACTOR_PHONE,COMMENTS,SHORT_NAME,NAME,MERCHANT_ID,IMAGE_PATH,STATE,SUPPORTED_CARDS,TYPE,CODE,LATITUDE,LONGITUDE,
  	ACTIVITY_NAME,START_DATE,END_DATE,BANNER_IMG,IS_HOT,ACTIVITY_CONTENT,OPEN_ID,TOWN_CODE,CITY_CODE,DISACCOUNT
  </sql>
  
  <!-- 分页查询特惠商户信息 -->
  
  <select id="getList" resultMap="BaseResultMap" >
  	<include refid="common.Oracle_Pagination_Head" />
	    select 
	    t.MERCHANT_ID as "merchantId",
	    t.DELETE_FLAG as "deleteFlag",
	    t.CREATE_USER as "createUser",
	    t.CREATE_TIME as "createTime",
	    t.TACTOR_PHONE as "tactorPhone",
	    t.COMMENTS as "comments",
	    t.SHORT_NAME as "shortName",
	    t.NAME as "name",
	    t.IMAGE_PATH as "imagePath",
	    t.SUPPORTED_CARDS as "supportedCards",
	    t.CODE as "code",
	    t.LATITUDE as "latitude",
	    t.LONGITUDE as "longitude",
	    t.OPEN_ID as "openId",
	    t.TYPE as "type",
	    t.ACTIVITY_NAME as "activityName",
	    t.START_DATE as "startDate",
	    t.END_DATE as "endDate",
	    
	    t.BANNER_IMG as "bannerImg",
	    t.IS_HOT as "isHot",
	    
	    t.ACTIVITY_CONTENT as "activityContent",
	    
	    t.TOWN_CODE as "twonCode",
	    t.CITY_CODE as "cityCode",
	    t.DISACCOUNT as "disaccount",
	    
	    dd.dic_name as "state" 
	    from T_BIZ_MERCHANT t 
        left join  T_S_DICTIONARY d on t.type=d.id 
        left join  T_S_DICTIONARY dd on t.state=dd.id 
        where t.DELETE_FLAG=0 
		<if test="name != null and name != ''" >
			 AND t.NAME like '%'||#{name}||'%'
		 </if>
		<if test="state != null and state != ''" >
			 AND t.STATE = #{state,jdbcType=VARCHAR}
		 </if>
		<if test="cityCode != null and cityCode != ''" >
			 AND t.CITY_CODE = #{cityCode,jdbcType=VARCHAR}
		 </if>
		<if test="type != null and type !=''" >
			 AND t.TYPE = #{type,jdbcType=VARCHAR}
		 </if>
		<if test="code != null and code !=''" >
			 AND t.CODE like '%'||#{code}||'%'
		 </if>	
        <if test="orderByClause != null" >
     	order by ${orderByClause}
        </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  
  <!-- 根据Id查询特惠商户信息 -->
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
	    t.MERCHANT_ID as "merchantId",
	    t.DELETE_FLAG as "deleteFlag",
	    t.CREATE_USER as "createUser",
	    t.CREATE_TIME as "createTime",
	    t.TACTOR_PHONE as "tactorPhone",
	    t.ADDRESS as "address", 
	    t.INTRODUCTION as "introduction",
	    t.COMMENTS as "comments",
	    t.SHORT_NAME as "shortName",
	    t.NAME as "name",
	    t.IMAGE_PATH as "imagePath",
	    t.SUPPORTED_CARDS as "supportedCards",
	    t.CODE as "code",
	    t.LATITUDE as "latitude",
	    t.LONGITUDE as "longitude",
	    t.OPEN_ID as "openId",
	    
	    t.ACTIVITY_NAME as "activityName",
	    t.START_DATE as "startDate",
	    t.END_DATE as "endDate",
	    
	    t.BANNER_IMG as "bannerImg",
	    t.IS_HOT as "isHot",
	    
	    t.ACTIVITY_CONTENT as "activityContent",
	      
	    t.TOWN_CODE as "twonCode",
	    t.CITY_CODE as "cityCode",
	    t.DISACCOUNT as "disaccount",
	    
	    t.type as "type",
	    t.state as "state" 
	    from T_BIZ_MERCHANT t 
        where t.DELETE_FLAG=0 
        and t.MERCHANT_ID = #{merchantId,jdbcType=VARCHAR}
  </select>
  
  
    <!-- 根据Id查询特惠商户详细信息 -->
  
  <select id="getDetailforView" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
	    t.MERCHANT_ID as "merchantId",
	    t.DELETE_FLAG as "deleteFlag",
	    t.CREATE_USER as "createUser",
	    to_char(t.CREATE_TIME,'yyyy-mm-dd') as "createTime",
	    t.TACTOR_PHONE as "tactorPhone",
	    t.ADDRESS as "address", 
	    t.INTRODUCTION as "introduction",
	    t.COMMENTS as "comments",
	    t.SHORT_NAME as "shortName",
	    t.NAME as "name",
	    t.IMAGE_PATH as "imagePath",
	    t.SUPPORTED_CARDS as "supportedCards",
	    t.CODE as "code",
	    t.LATITUDE as "latitude",
	    t.LONGITUDE as "longitude",
	    t.OPEN_ID as "openId",
	    
	    t.ACTIVITY_NAME as "activityName",
	    t.START_DATE as "startDate",
	    t.END_DATE as "endDate",
	    
	    t.BANNER_IMG as "bannerImg",
	    t.IS_HOT as "isHot",
	    
	    t.ACTIVITY_CONTENT as "activityContent",
	      
	    t.TOWN_CODE as "twonCode",
	    t.CITY_CODE as "cityCode",
	    t.DISACCOUNT as "disaccount",
	    
	    t.TYPE as "type",
	    dd.dic_name as "state" 
	    from T_BIZ_MERCHANT t 
        left join  T_S_DICTIONARY d on t.type=d.id 
        left join  T_S_DICTIONARY dd on t.state=dd.id 
        where t.DELETE_FLAG=0 
        and t.MERCHANT_ID = #{merchantId,jdbcType=VARCHAR}
  </select>
  
   <!-- 根据Id查询特惠商户信息 -->
  
  <select id="getByDepartName" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	select ID as "id" from t_s_depart
  		where depart_name like '%'||#{departName}||'%' and level_rank = #{levelRank}
  </select>
  <!-- 查询特惠商户信息总数量 -->
  
  <select id="countAll" resultType="java.lang.Integer" >
	    select count(1)
	    from T_BIZ_MERCHANT t 
        left join  T_S_DICTIONARY d on t.type=d.id 
        left join  T_S_DICTIONARY dd on t.state=dd.id 
        where t.DELETE_FLAG=0 
		<if test="name != null and name != ''" >
			 AND t.NAME like '%'||#{name}||'%'
		 </if>
		<if test="state != null and state != ''" >
			 AND t.STATE = #{state,jdbcType=VARCHAR}
		 </if>
		<if test="type != null and type !=''" >
			 AND t.TYPE = #{type,jdbcType=VARCHAR}
		 </if>
		<if test="code != null and code !=''" >
			 AND t.CODE like '%'||#{code}||'%'
		</if>	
  </select>
  
  <!-- 查询所有特惠商户信息 -->
  
   <select id="getAll" resultMap="BaseResultMap">
	    select 
	    t.MERCHANT_ID as "merchantId",
	    t.DELETE_FLAG as "deleteFlag",
	    t.CREATE_USER as "createUser",
	    t.CREATE_TIME as "createTime",
	    t.TACTOR_PHONE as "tactorPhone",
	    t.COMMENTS as "comments",
	    t.SHORT_NAME as "shortName",
	    t.NAME as "name",
	    t.IMAGE_PATH as "imagePath",
	    t.SUPPORTED_CARDS as "supportedCards",
	    t.CODE as "code",
	    t.LATITUDE as "latitude",
	    t.LONGITUDE as "longitude",
	    t.OPEN_ID as "openId",
	    t.TYPE as "type",
	    t.ACTIVITY_NAME as "activityName",
	    t.START_DATE as "startDate",
	    t.END_DATE as "endDate",
	    
	    t.BANNER_IMG as "bannerImg",
	    t.IS_HOT as "isHot",
	    
	    t.ACTIVITY_CONTENT as "activityContent",
	    
	    t.TOWN_CODE as "twonCode",
	    t.CITY_CODE as "cityCode",
	    t.DISACCOUNT as "disaccount",
	    
	    dd.dic_name as "state" 
	    from T_BIZ_MERCHANT t 
        left join  T_S_DICTIONARY d on t.type=d.id 
        left join  T_S_DICTIONARY dd on t.state=dd.id 
        where t.DELETE_FLAG=0 
		<if test="name != null and name != ''" >
			 AND t.NAME like '%'||#{name}||'%'
		 </if>
		<if test="state != null and state != ''" >
			 AND t.STATE = #{state,jdbcType=VARCHAR}
		 </if>
		<if test="cityCode != null and cityCode != ''" >
			 AND t.CITY_CODE = #{cityCode,jdbcType=VARCHAR}
		 </if>
		<if test="type != null and type !=''" >
			 AND t.TYPE = #{type,jdbcType=VARCHAR}
		 </if>
		<if test="code != null and code !=''" >
			 AND t.CODE like '%'||#{code}||'%'
		 </if>	
        <if test="orderByClause != null" >
     	order by ${orderByClause}
        </if>
  </select>
  <!-- 根据特惠商户信息编码,查询特惠商户信息信息 有code验证时放开-->
   <!-- <select id="getByCode" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from T_BIZ_MERCHANT
    where CODE = #{code,jdbcType=VARCHAR}
    AND DELETE_FLAG = 0 
    <if test="merchantId != null" >
    	and MERCHANT_ID != #{merchantId,jdbcType=VARCHAR}
    </if>
  </select> -->
  
  <!-- 增加特惠商户信息 -->
  
  <insert id="insert" parameterType="java.util.Map" >
    insert into T_BIZ_MERCHANT
    <selectKey resultType="java.lang.String" keyProperty="merchantId"
			order="BEFORE">
			select sys_guid() from dual
	</selectKey>
    <trim prefix="(" suffix=")" suffixOverrides="," >
       MERCHANT_ID,
    <if test="deleteFlag != null"> DELETE_FLAG, </if>
	<if test="createUser != null"> CREATE_USER, </if>
	<if test="createTime != null and createTime !=''"> CREATE_TIME, </if>
	<if test="tactorPhone != null"> TACTOR_PHONE, </if>
	<if test="introduction != null"> INTRODUCTION, </if>
	<if test="address != null"> ADDRESS, </if>
	<if test="comments != null"> COMMENTS, </if>
	<if test="shortName != null"> SHORT_NAME, </if>
	<if test="name != null"> NAME, </if>
	<if test="imagePath != null"> IMAGE_PATH, </if>
	<if test="state != null"> STATE, </if>
	<if test="supportedCards != null"> SUPPORTED_CARDS, </if>
	<if test="type != null"> TYPE, </if>
	<if test="code != null"> CODE, </if>
	<if test="latitude != null"> LATITUDE, </if>
	<if test="longitude != null"> LONGITUDE, </if>
	
	<if test="activityName != null"> ACTIVITY_NAME, </if>
	<if test="startDate != null"> START_DATE, </if>
	<if test="endDate != null"> END_DATE, </if>
	
	<if test="bannerImg != null"> BANNER_IMG, </if>
	<if test="isHot != null"> IS_HOT, </if>
	
	<if test="activityContent != null"> ACTIVITY_CONTENT, </if>
	<if test="openId != null"> OPEN_ID, </if>
	
	<if test="twonCode != null"> TOWN_CODE, </if>
	<if test="cityCode != null"> CITY_CODE, </if>
	<if test="disaccount != null"> DISACCOUNT, </if>
	
	
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{merchantId},
     <if test="deleteFlag != null"> #{deleteFlag}, </if>
	<if test="createUser != null"> #{createUser}, </if>
	<if test="createTime != null and createTime !=''"> #{createTime}, </if>
	<if test="tactorPhone != null"> #{tactorPhone,jdbcType=VARCHAR}, </if>
	<if test="introduction != null"> #{introduction}, </if>
	<if test="address != null"> #{address}, </if>
	<if test="comments != null"> #{comments}, </if>
	<if test="shortName != null"> #{shortName}, </if>
	<if test="name != null"> #{name}, </if>
	<if test="imagePath != null"> #{imagePath}, </if>
	<if test="state != null"> #{state}, </if>
	<if test="supportedCards != null"> #{supportedCards}, </if>
	<if test="type != null"> #{type}, </if>
	<if test="code != null"> #{code}, </if>
	<if test="latitude != null"> #{latitude}, </if>
	<if test="longitude != null"> #{longitude}, </if>
	
	<if test="activityName != null"> #{activityName}, </if>
	<if test="startDate != null and startDate !=''"> to_date('${startDate}','yyyy-mm-dd hh24:mi:ss'),</if>
	<if test="endDate != null and endDate !=''"> to_date('${endDate}','yyyy-mm-dd hh24:mi:ss'), </if>
	
	<if test="bannerImg != null"> #{bannerImg,jdbcType=VARCHAR}, </if>
	<if test="isHot != null"> #{isHot,jdbcType=VARCHAR}, </if>
	
	<if test="activityContent != null"> #{activityContent}, </if>
	<if test="openId != null"> #{openId,jdbcType=VARCHAR}, </if>
	
	<if test="twonCode != null"> #{twonCode,jdbcType=VARCHAR}, </if>
	<if test="cityCode != null"> #{cityCode,jdbcType=VARCHAR}, </if>
	<if test="disaccount != null"> #{disaccount,jdbcType=VARCHAR}, </if>

    </trim>
  </insert>
  
  <!-- 根据code更新特惠商户信息 -->
    
  <update id="updateByCode" parameterType="java.util.Map" >
    update T_BIZ_MERCHANT
     <set >
      <if test="deleteFlag != null">DELETE_FLAG = #{deleteFlag}, </if>
	<if test="createUser != null">CREATE_USER = #{createUser}, </if>
	<if test="createTime != null and createTime !=''">CREATE_TIME = #{createTime}, </if>
	<if test="tactorPhone != null">TACTOR_PHONE = #{tactorPhone,jdbcType=VARCHAR}, </if>
	<if test="comments != null">COMMENTS = #{comments}, </if>
	<if test="shortName != null">SHORT_NAME = #{shortName}, </if>
	<if test="name != null">NAME = #{name}, </if>
	<if test="introduction != null"> INTRODUCTION=#{introduction}, </if>
	<if test="address != null"> ADDRESS=#{address}, </if>
	<if test="imagePath != null">IMAGE_PATH = #{imagePath}, </if>
	<if test="state != null">STATE = #{state}, </if>
	<if test="supportedCards != null">SUPPORTED_CARDS = #{supportedCards}, </if>
	<if test="type != null">TYPE = #{type}, </if>
	<if test="code != null">CODE = #{code}, </if>
	<if test="latitude != null">LATITUDE = #{latitude}, </if>
	<if test="longitude != null">LONGITUDE = #{longitude}, </if>
	
	<if test="activityName != null">ACTIVITY_NAME = #{activityName}, </if>
	<if test="startDate != null">START_DATE = to_date('${startDate}','yyyy-mm-dd hh24:mi:ss'), </if>
	<if test="endDate != null">END_DATE = to_date('${endDate}','yyyy-mm-dd hh24:mi:ss'), </if>
	<if test="activityContent != null">ACTIVITY_CONTENT = #{activityContent}, </if>
	
	<if test="twonCode != null">TOWN_CODE = #{twonCode}, </if>
	<if test="cityCode != null">CITY_CODE = #{cityCode}, </if>
	<if test="disaccount != null">DISACCOUNT = #{disaccount}, </if>
	
	<if test="bannerImg != null">BANNER_IMG = #{bannerImg}, </if>
	<if test="isHot != null">IS_HOT = #{isHot}, </if>
	
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <!-- 更新特惠商户信息 -->
    
  <update id="update" parameterType="java.util.Map" >
    update T_BIZ_MERCHANT
     <set >
      <if test="deleteFlag != null">DELETE_FLAG = #{deleteFlag}, </if>
	<if test="createUser != null">CREATE_USER = #{createUser}, </if>
	<if test="createTime != null and createTime !=''">CREATE_TIME = #{createTime}, </if>
	<if test="tactorPhone != null">TACTOR_PHONE = #{tactorPhone,jdbcType=VARCHAR}, </if>
	<if test="comments != null">COMMENTS = #{comments}, </if>
	<if test="shortName != null">SHORT_NAME = #{shortName}, </if>
	<if test="name != null">NAME = #{name}, </if>
	<if test="introduction != null"> INTRODUCTION=#{introduction}, </if>
	<if test="address != null"> ADDRESS=#{address}, </if>
	<if test="imagePath != null">IMAGE_PATH = #{imagePath}, </if>
	<if test="state != null">STATE = #{state}, </if>
	<if test="supportedCards != null">SUPPORTED_CARDS = #{supportedCards}, </if>
	<if test="type != null">TYPE = #{type}, </if>
	<if test="code != null">CODE = #{code}, </if>
	<if test="latitude != null">LATITUDE = #{latitude}, </if>
	<if test="longitude != null">LONGITUDE = #{longitude}, </if>
	
	<if test="activityName != null">ACTIVITY_NAME = #{activityName}, </if>
	<if test="startDate != null">START_DATE = to_date('${startDate}','yyyy-mm-dd hh24:mi:ss'), </if>
	<if test="endDate != null">END_DATE = to_date('${endDate}','yyyy-mm-dd hh24:mi:ss'), </if>
	<if test="activityContent != null">ACTIVITY_CONTENT = #{activityContent}, </if>
	<if test="openId != null">OPEN_ID = #{openId,jdbcType=VARCHAR}, </if>
	
	<if test="twonCode != null">TOWN_CODE = #{twonCode}, </if>
	<if test="cityCode != null">CITY_CODE = #{cityCode}, </if>
	<if test="disaccount != null">DISACCOUNT = #{disaccount}, </if>
	
	<if test="bannerImg != null">BANNER_IMG = #{bannerImg}, </if>
	<if test="isHot != null">IS_HOT = #{isHot}, </if>
    </set>
    where MERCHANT_ID = #{merchantId,jdbcType=VARCHAR}
  </update>
  <delete id="delete" parameterType="java.lang.String" >
    delete from T_BIZ_MERCHANT
    where MERCHANT_ID = #{merchantId,jdbcType=VARCHAR}
  </delete>
  <!-- 逻辑删除特惠商户信息 -->
  
  <update id="logicDelete" parameterType="java.util.Map" >
    update T_BIZ_MERCHANT
    set DELETE_FLAG = -1
    where MERCHANT_ID = #{merchantId,jdbcType=VARCHAR}
  </update>
  <!-- 查询特惠商户类型 -->
    <select id="getMerchantType" resultMap="BaseResultMap" parameterType="java.util.Map" >
         select distinct(TYPE) AS "type" from t_biz_merchant where TYPE is not null
  </select>
  <!-- 查询特惠商户状态-->
      <select id="getMerchantState" resultMap="BaseResultMap" parameterType="java.util.Map" >
         select 
         d.id as "id",
         d.dic_code as "dicCode",
         d.dic_name as "dicName" 
         from T_S_DICTIONARY d 
         left join T_S_DICTIONARY_GROUP g 
         on d.dic_group_id=g.id 
         where d.delete_flag=0 and g.dic_group_code='merchantStatus' 
  </select>
</mapper>